* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.text-grey {
  color: #121212;
  opacity: 0.5;
}

.text-l-blue {
  color: #4386bf;
}

.category {
  font-size: 0.8rem;
  color: #121212;
  opacity: 0.5;
}

.title {
  font-size: 1.3rem;
  color: #121212;
}

#root {
  padding: 9.3rem 6.25rem;
  background-color: #f5f6fa;
}

.container {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  height: 5.93rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 6.25rem;
}

.left {
  align-items: baseline;
  justify-content: space-between;
}

.left * {
  margin-right: 2rem;
}

.flex {
  display: flex;
}

.logo {
  color: #0290ff;
  font-size: 1.875rem;
}

.navbar-text {
  font-size: 0.813rem;
}

.fa-user {
  color: #0290ff;
}

.circle-icon {
  border: 2px solid red;
  padding: 0.5rem;
  border-radius: 50%;
  border-color: #e8e8e8;
}

main {
  padding: 2.3rem 6.25rem;
  background-color: #fafafa;
}

.row {
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1.6rem;
  justify-content: space-between;
}

.card-btn {
  border: none;
  background: none;
  padding: 0 0.75rem;
  margin: 0 0.75rem;
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.card-bottom {
  margin-top: 1.3rem;
}

.circle {
  width: 4.25rem;
  height: 4.25rem;
  margin-right: 1rem;
}

.percent {
  font-size: 2rem;
}

.update-btn {
  background: #0290ff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  margin-top: 1rem;
}

.margin-right {
  margin-right: 1rem;
  border-left: 1px solid #e8e8e8;
  padding-left: 5rem;
}

.margin-left {
  margin-left: 3rem;
}
