* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.text-grey {
  color: #121212;
  opacity: 0.5;
}

.text-l-blue {
  color: #4386bf;
}

.category {
  font-size: 0.8rem;
  color: #121212;
  opacity: 0.5;
}

.title {
  font-size: 1.3rem;
  color: #121212;
}

#root {
  padding: 9.3rem 6.25rem;
  background-color: #f5f6fa;
}

.container {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  height: 5.93rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 6.25rem;
}

.left {
  align-items: baseline;
  justify-content: space-between;
}

.left * {
  margin-right: 2rem;
}

.flex {
  display: flex;
}

.logo {
  color: #0290ff;
  font-size: 1.875rem;
}

.navbar-text {
  font-size: 0.813rem;
}

.fa-user {
  color: #0290ff;
}

.circle-icon {
  border: 2px solid red;
  padding: 0.5rem;
  border-radius: 50%;
  border-color: #e8e8e8;
}

main {
  padding: 2.3rem 6.25rem 1rem 6.25rem;
  background-color: #fafafa;
}

.row {
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1.6rem;
  justify-content: space-between;
}

.card-btn {
  border: none;
  background: none;
  padding: 0 0.75rem;
  margin: 0 0.75rem;
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.card-bottom {
  margin-top: 1.3rem;
}

.circle {
  width: 4.25rem;
  height: 4.25rem;
  margin-right: 1rem;
}

.percent {
  font-size: 2rem;
}

.update-btn {
  background: #0290ff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  margin-top: 1rem;
}

.margin-right {
  margin-right: 1rem;
  border-left: 1px solid #e8e8e8;
  padding-left: 5rem;
}

.margin-left {
  margin-left: 3rem;
}

footer {
  background: #fafafa;
}

form {
  margin: 0 6.25rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  border-top: 1px solid #e8e8e8;
}

form div {
  color: #888;
  padding-bottom: 0.8rem;
}

.form-container {
  justify-content: space-between;
}

.item {
  margin: 0 1rem;
  padding: 0.5rem 0;
}

.flex-item-1 {
  flex-grow: 10;
  margin-left: 0;
}

.flex-item-2 {
  flex-grow: 2;
}

.flex-item-3 {
  flex-grow: 2;
  margin-right: 0;
}

/* Mobile view */
@media only screen 
    and (min-device-width: 220px) 
    and (max-device-width: 992px)
    and (-webkit-min-device-pixel-ratio: 2) {
      #root {
        padding: 0;
      }

      .navbar {
        flex-direction: column;
        padding: 2rem 1rem;
        margin: 0 1.6rem;
        justify-content: space-around;
      }

      .row {
        flex-direction: column;
        margin: 1.6rem 1.6rem 2.6rem 1.6rem;
        padding: 0.5rem 1rem;
      }

      .form-container {
        flex-direction: column;
      }

      .left {
        width: 100%;
        justify-content: space-between;
      }

      .left span {
        display: none;
      }

      .logo {
        font-size: 1rem;
      }

      .right {
        display: none;
      }

      main {
        padding: 0;
      }

      .card-bottom {
        margin-top: 0.5rem;
      }

      .margin-left {
        margin: 0;
        padding: 1.5rem 0;
      }

      .margin-right {
        margin: 0;
        padding: 0;
      }

      form {
        margin: 0;
        padding: 0;
      }
    }